.homepage-control-wrap .ui-sortable-placeholder {
  background: #EBEBEB;
  border: 1px dashed #DDDDDD;
  visibility: visible !important;
  margin: 3px;
}
.homepage-control-wrap .wp-list-table .item-row:hover {
  cursor: move;
}
.homepage-control-wrap td {
  vertical-align: middle;
  overflow: hidden;
  zoom: 1;
  line-height: 16px;
}
.homepage-control-wrap .disabled .visibility:before {
  content: "";
}
.homepage-control-wrap .visibility {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  font-size: 0;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff;
  float: left;
  margin-right: 9px;
  border-radius: 2px;
}
.homepage-control-wrap .visibility:before {
  -webkit-font-smoothing: antialiased;
  font: normal 14px/1 'dashicons';
  content: "\f147";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 16px;
  text-align: center;
}
